#Environment Variable Files
.env
.env.sample
.env.docker
.dockerignore
Dockerfile
#Read me file
issue.txt
README.md
#SQLite Database
githubapp.db
#Test Coverage
/test
#Node modules
**/node_modules/
#Build
**/dist
#Logs
.git
npm-debug.log

