<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="git.css">
  <title>GitHub Repo Creator</title>
</head>
<body>
  <nav>
    <a href="#"><img src="brand-icon.png" alt="Brand Icon"></a>
    <a href="#">Home</a>
    <a href="#">Create Repository</a>
    <div class="user-info">
      <p class="username">Username</p>
      <button class="login-button">Login to GitHub</button>
      <button class="logout-button">Logout</button>
    </div>
  </nav>
  <main>
    <h1>Welcome to GitHub Repo Creator</h1>
    <form action="/create-repository" method="POST">
      <label for="repository-name">Repository Name:</label><br>
      <input type="text" id="repository-name" name="repository-name"><br>
      <label for="private">Private:</label>
      <input type="checkbox" id="private" name="private"><br>
      <label for="description">Description:</label><br>
      <textarea id="description" name="description"></textarea><br>
      <button type="submit">Create Repository</button>
    </form>
  </main>
</body>
</html>
