<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>

<body>
    <h2>Create Repository with GitHub</h2>
    <main>
        <form class="product-form" action="create-repository" method="POST">
            <div class="form-control">
                <label for="repositoryName">Repository Name</label>
                <input type="text" name="repositoryName" id="repositoryName" value="">
            </div>
            <div class="form-control">
                <label for="path">Path</label>
                <input type="text" name="path" id="path" value="">
            </div>
            <div class="form-control">
                <label for="privacy">Private</label>
                <input type="checkbox" id="privacy" name="privacy" value="true">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5" ></textarea>
            </div>

            <button class="btn" type="submit">Create Repository</button>
        </form>
    </main>
</body>

</html>