<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <h1> Welcome to Repo Creator </h1>
    <form action="/auth/githun/login" method="get">
      <button type="submit">Login With Github</button>
    </form>
    <form action="/auth/profile" method="get">
      <button type="submit">Profile</button>
    </form>
    <form action="/auth/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <form action="/auth/refresh" method="post">
      <button type="submit">Refresh</button>
    </form>
  </body>
</html>